<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SugarDreams </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
          
            <meta charset="UTF-8"/>
    </head>
    
    <body>
        <section th:fragment="ubicacion" class="py-4 mb-4 ">
            <h1 class="text-center " >Ubicanos </h1 > 
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body" style="background-color:#fda7cb; display: flex; flex-direction: column; align-items: center; text-align: center;"> 
                            <h5 class="card-title">Tienda Cartago</h5>
                             <p class="card-text"> <strong>Dirección:</strong><br> 400 m norte del Vindi Granailla, Tres Rios</p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31440.32644931647!2d-84.02737094332369!3d9.9305597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e1fa01b93a9b%3A0x3f659bebb8ce67ff!2sQueques%20Dream%20Sweets%20CR!5e0!3m2!1ses!2scr!4v1720286359637!5m2!1ses!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><p class="card-text"><strong>Horario de la Tienda:</strong><br>
                                Lunes a Sábado: 8:00 AM - 6:00 PM</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                       <div class="card-body" style="background-color:#fda7cb; display: flex; flex-direction: column; align-items: center; text-align: center;"> 
                               <h5 class="card-title">Tienda Heredia</h5>
                               <p class="card-text"> <strong>Dirección:</strong><br>150 metros al sur de refugio de animales Heredia Los Ángeles de San Rafael</p>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1080310.2735217148!2d-84.81395236788394!3d9.942964247508623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0ef3307913a69%3A0x83e29eb21ea85e23!2sKattia%E2%80%99s%20Sweet%20Dream%20Bakery!5e0!3m2!1ses!2scr!4v1720286599183!5m2!1ses!2scr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><p class="card-text"><strong>Horario de la Tienda:</strong><br>
                                Lunes a Sábado: 8:00 AM - 6:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>