<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">

        <title>SugarDreams </title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

            <meta charset="UTF-8"/>

    </head>
    <body>
        <section th:fragment="menuUsuario" class="py-4 mb-4 bg-light">
            <div class="container mt-5">
                <div th:each="categoria : ${categorias}"   >
                    <div class="card mb-3 text-center ">
                        <div class="card-header"  style="background-color:#d1dcff;">
                            <h4 th:text="${categoria.nombre}" style="font-family:fantasy"></h4>
                        </div>
                        <div class="card-body  flex-column" >
                            <div class="row" th:if="${categoria.productos != null and !categoria.productos.empty}">
                                <div class=" col-md-6 mb-3" th:each="producto : ${categoria.productos} ">
                                    <div class="card mb-3 " >
                                        <div class="row g-0">
                                            <div class="col-md-4">
                                                <img th:src="${producto.rutaImagen}" alt="Imagen del producto" class="card-img-top" height="220px" width="175px">
                                            </div>
                                            <div class="col-md-8 bg-danger-subtle ">
                                                <div class="card-body ">
                                                    <h5 class="card-title text-center">[[${producto.nombre}]]</h5>
                                                    <p class="card-text text-center"><small class="text-body-secondary">[[${producto.descripcion}]]</small></p>
                                                    <p class="card-text text-center"><small class="text-body-secondary">¢[[${producto.precio}]]</small></p>
                                                </div>
                                                <div class="card-footer  bg-danger-subtle" style=" text-align-all: center">
                                                    <a th:href="@{/producto/eliminar/}+${producto.idProducto}" 
                                                       class="btn btn-primary btn-lg rounded-pill"
                                                       style="background-color:#d1dcff; text-decoration: #87a789; margin-bottom: auto " >
                                                        <i class="fa-solid fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       



    </body>
</html>
