<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <html xmlns="http://www.w3.org/1999/xhtml"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
       xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SugarDreams </title>
        <meta charset="UTF-8"/>
         
       
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
       <section id="main-header" class="py-2 text-black" style="background-color: E8E9EA;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1> [[#{plantilla.suTienda}]]</h1>
                        </div>
                    </div>
                </div>
            </section>
        <section th:fragment="diseños" class="py-4 mb-4 bg-light">
            <div class="container d-flex justify-content-center align-items-center">
            <div id="carousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">

                    <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-ce812.appspot.com/o/imagen1.jpg?alt=media&token=50681ad4-366a-41b1-b39e-0df6942c937c" class="d-block mx-auto" alt="450" height="350px" >

                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-ce812.appspot.com/o/imagen2.jpg?alt=media&token=b14782a9-6805-4f14-a785-555789ca39be" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-ce812.appspot.com/o/imagen3.jpg?alt=media&token=890edfa4-d0ee-43b5-9cdd-1a4a41de6a8f" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-ce812.appspot.com/o/imagen4.jpg?alt=media&token=274a111d-67c1-4766-9477-6963e8968ea2" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-ce812.appspot.com/o/imagen06.jpg?alt=media&token=106897bb-bf75-4ea5-bab6-52bc7ad49c62" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-ce812.appspot.com/o/imagen7.jpg?alt=media&token=42d6cd19-b576-48ba-a14d-360a3ab76c7e" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
                </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>

        
    </body>
    
</html>