<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>SugarDreams </title>
        <meta charset="UTF-8"/>
         
       
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section th:fragment="diseños" class="py-4 mb-4 bg-light">
            <div class="container d-flex justify-content-center align-items-center">
            <div id="carousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">

                    <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-dd87c.appspot.com/o/sugardreams%2Fimagen1.jpg?alt=media&token=2411ec25-f57b-4a41-8329-a6dc8d462de6" class="d-block mx-auto" alt="450" height="350px" >

                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-dd87c.appspot.com/o/sugardreams%2Fimagen6.jpg?alt=media&token=1e1f0943-9ba9-4b31-9242-3de75fb9915b" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-dd87c.appspot.com/o/sugardreams%2Fimagen2.jpg?alt=media&token=1275dcce-ee45-4f5a-8a79-2a3537689038" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-dd87c.appspot.com/o/sugardreams%2Fimagen3.jpg?alt=media&token=10ab6ea2-ac65-430e-a79c-c7fe4dc64e3c" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-dd87c.appspot.com/o/sugardreams%2Fimagen4.jpg?alt=media&token=7deec975-9394-48db-ba3f-f32dddbb6665" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/sugardreams-dd87c.appspot.com/o/sugardreams%2Fimagen%205.jpg?alt=media&token=76d3d1bd-a466-4f78-930b-9ad9500a486f" class="d-block mx-auto" alt="450" height="350px">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
                </div>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>

        
    </body>
    
</html>