<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
    <section th:fragment="formularioComentario" id="comentarios" class="text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 mb-3">
                    <div class="card-header">
                        <h2 style="color: #87a789;">Deja tu comentario</h2>
                    </div>
                    <div class="card h-100" style="background-color:#fda7cb;">
                        <div class="card-body">
                            <form th:action="@{/comentarios/guardar}" th:object="${comentario}" method="POST" class="was-validated">
                                <div class="mb-3">
                                    <label for="comentario" style="font-weight: bold;">Comentario</label>
                                    <textarea class="form-control" id="comentario" name="comentario" rows="3" required="true"></textarea>
                                </div>
                                <div class="mt-3 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg mb-2 rounded-pill" style="background-color:#2c428a;">
                                        <i class="fa-solid fa-paper-plane"></i> Enviar
                                    </button>
                                </div>
                            </form>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>